.App {
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
  background: transparent;
}

.dropdown-item {
  color: #a1aab3;
}

.intro {
  position: relative;
  top: 45vh;
  width: 50%;
  font-family: 'Michroma', sans-serif;
  text-shadow: 3px 3px 5px #000000;
  z-index: 1;
}

.header {
  font-family: 'Michroma', sans-serif;
  color: rgb(199, 199, 199);
  z-index: 2;
}

h5, .header {
  font-family: 'Michroma', sans-serif;
  color: rgb(199, 199, 199);
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.description p {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: linear-gradient(to bottom, #000000 0%, #080316 100%);
  height: 400rem;
  min-height: 500vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  overflow: hidden;
  background: transparent;
}

.card1 {
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  width: 90%;
  height: 90%;
  background-image: url(./Mateo.png);
  left: -5%;
}

.containerfade {
  position: relative;
  top: 70vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  top: 170vh;
  position: relative;
  max-width: 70%;
  z-index: 1;
}

.vid {
  position: relative;
  height: 90vh;
}

.vid video {
  height: 100%;
}

.page1 {
  position: relative;
}